go 1.23.12

use (
	./airport-robot
	./all-your-base
	./allergies
	./animal-magic
	./annalyns-infiltration
	./binary-search
	./binary-search-tree
	./bird-watcher
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./collatz-conjecture
	./darts
	./difference-of-squares
	./election-day
	./expenses
	./gross-store
	./hamming
	./hello-world
	./interest-is-interesting
	./isogram
	./jedliks-toys
	./lasagna
	./lasagna-master
	./leap
	./logs-logs-logs
	./meteorology
	./need-for-speed
	./parsing-log-files
	./party-robot
	./raindrops
	./sorting-room
	./the-farm
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
