go 1.23.12

use (
	./annalyns-infiltration
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./election-day
	./gross-store
	./hello-world
	./jedliks-toys
	./lasagna
	./lasagna-master
	./logs-logs-logs
	./need-for-speed
	./party-robot
	./sorting-room
	./the-farm
	./weather-forecast
	./welcome-to-tech-palace
)

