go 1.23.12

use (
	./annalyns-infiltration
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./gross-store
	./hello-world
	./jedliks-toys
	./lasagna
	./need-for-speed
	./party-robot
	./weather-forecast
)

